button {
    display: flex;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: #adadad;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

button > p {
    font-family: 'Mortal Wave';
    font-size: 25px;
    padding-left: 5px;
}

button > .checkbox {
    font-size: 20px;
    padding-top: 4px;
}
