.toolbar {
    background-color: #2c2c2c;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

.sub-toolbar {
    background-color: #5e5e5e;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

.toolbar-item {
    margin: 0px;
    padding: 10px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar-item:hover {
    text-decoration: underline;
}

.selected {
    background-color: #5e5e5e;
    color: #ffffff;
}
